<h3>
  Books list
</h3>
<hr>
<div class="d-flex justify-content-end mb-3">
  <a routerLink="/books/manage" class="btn btn-outline-primary">
    <i class="fas fa-plus">
    </i>
    &nbsp; New Book
  </a>
</div>
<div class="d-flex justify-content-start gap-2 flex-wrap">
  <app-book-card
    (archive)="archiveBook($event)"
    (share)="shareBook($event)"
    (edit)="editBook($event)"
    [manage]="true" (borrow)="borrowBook($event)" [book]="book"
    *ngFor="let book of bookResponse.content">
  </app-book-card>
</div>
