<div class="container-fluid card login-container">
  <h3 class="text-center">Login</h3>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>
  <div class="mb-3">
    <label class="form-label">
      Firstname
    </label>
    <input [(ngModel)]="authRequest.firstname" type="text" class="form-control" id="firstname"
           placeholder="John">
  </div>
  <div class="mb-3">
    <label class="form-label">
      Lastname
    </label>
    <input [(ngModel)]="authRequest.lastname" type="text" class="form-control" id="lastname" placeholder="Doe">
  </div>
  <div class="mb-3">
    <label class="form-label">
      Email
    </label>
    <input [(ngModel)]="authRequest.email" type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label class="form-label">
      Password
    </label>
    <input [(ngModel)]="authRequest.password" type="password" class="form-control" id="password" placeholder="password">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="register()" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">
        &nbsp; Sign up
      </em>
    </button>
    <div>
      Already have an account ? &nbsp;
      <button class="btn btn-link" (click)="login()">
        Login
      </button>
    </div>
  </div>
</div>
